body{
    background: url(img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.add-task-row {
    margin-bottom: 90px;
    text-align: center;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #25ae87 !important;
}

input[name="title"] {
    width: 85%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 11px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type="checkbox"] {
	border: 0px;
	width: 15%;
	height: 0.8em;
}

.logo-style{
    font-family: 'Kalam', cursive;
    margin-bottom: 50px;
}

.main-column-style {
    min-height: 100vh;
    color: white;
}

.container-style{
    padding: 50px;
    background-color: white;
    height: 100vh;
    border-radius: 30px;
    width: 55%;
}